<style>
    .barrasup
    {
        background: #ce0a31;
        width: auto;
        height: 5.5vh;
    }
    .imgtw
    {
        position: absolute;
        height: 3.4vh;
        width: auto;
        top: 1vh;
        left: 86.5vw;

    }
    .imgfa
    {
        position: absolute;
        height: 3.4vh;
        width: auto;
        top: 1vh;
        left: 90.5vw;

    }
    .imgin
    {
        position: absolute;
        height: 3.4vh;
        width: auto;
        top: 1vh;
        left: 94.5vw;
    }
    .fondo
    {
        height: 72vh;
        width: auto;
    }
    .imgfon
    {
        height: 71vh;
        width: 100%;

    }
    .cuadrologin
    {
        position: absolute;
        width: 33.5vw;
        height: 50vh;
        top: 17vh;
        left: 61vw;
    }
    .saw
    {
        width: auto;
        height: 50vh;
    }
    .barrainf
    {
        position: absolute;
        background: #9C9AA0;
        height: 20.5vh;
        width: 100%;
        top: 76.5vh;
    }
    .boxfon
    {
        position: absolute;
        height: 71.5vh;
        width: 100%;
        overflow: hidden;
    }
    .endred
    {
        position: absolute;
        background: #ce0a31;
        position: absolute;
        height: 3vh;
        width: 100%;
        top: 97vh;
    }
    .imgsvg
    {
        fill: #E30613;
        mix-blend-mode: multiply;
    }
    .grey
    {
        margin-left: .2vw;
        margin-right:.8vw;
        height: 1.5vh;
        width: auto;
    }
    .txt
    {
        position: absolute;
        top:58vh;
        left: 3vw;
    }
    .tittle
    {
        color: white;
        font-family: arial;
        font-weight: bold;
        font-size: 3vw;
        margin: 0;
    }

    .sublista1
    {
        position: absolute;
        top: 2.5vh;
        left: 25vw;
    }
    .sublista2
    {
        position: absolute;
        top: 2.5vh;
        left: 50vw;
    }
    .sublista3
    {
        position: absolute;
        top: 2.5vh;
        left: 66.5vw;
    }
    .list
    {
        font-family: Arial;
        font-size: .8vw;
        color: white;
        margin-left: 30vw;
        margin: 0 0 .1vh 0;
    }
    .mint
    {
        color: white;
        margin: 0 1vh 2vh 2.2vw ;
        font-family: Arial;
        font-size: .9vw;
        font-weight: normal;
    }
    .line1
    {
        position: absolute;
        height: 13vh;
        border-left: solid #5B5B5D .1vw;
        left: 48.7vw;
        top: 5.5vh;
    }
    .line2
    {
        position: absolute;
        height: 13vh;
        border-left: solid #5B5B5D .1vw;
        left: 65vw;
        top: 5.5vh;
    }
    .backlogo
    {
        position: absolute;
        border: solid black;
        width: 10vw;
        left: 65vw;
        top: 22vh;
    }
    .logob
    {
        width: 10vw;
        height: auto;
    }
    .user
    {
        position: absolute;
        top: 35vh;
        left: 65vw;
        z-index: 10;
        width: 12vw;
        height: 7.5vh;
    }
    .pwd
    {
        position: absolute;
        top: 45vh;
        left: 65vw;
        z-index: 10;
        width: 12vw;
        height: 7.5vh;
    }
    .md-input-has-value
    {
        background-color:blue ;
    }

</style>

<div class="barrasup">

    <img class="imgtw" src="/img/icono.tw.png">
    <img class="imgfa" src="/img/icono.fa.png">
    <img class="imgin" src="/img/icono.in.png">

</div>

<div class="boxfon">
    <img class="imgfon" src="/img/fondo.jpg">
</div>

<div class="cuadrologin">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 566.9 442.8" enable-background="new 0 0 566.9 442.8" xml:space="preserve">
    <path class="imgsvg"  d="M434.2,275.8c14,13.5,33.1,21.8,54.1,21.8c43.1,0,78.1-35,78.1-78.1s-35-78.1-78.1-78.1
	c-21,0-40,8.3-54.1,21.8V0L261.7,0l-88.5,0L0.6,0v179.5v83.9l0,179.5h173.4h86.7h173.4V275.8z"/>
    </svg>
</div>

<div class="txt">
    <p class="tittle">¡Su Solución</p>
    <p class="tittle">Es Nuestro Objetivo!</p>
</div>


<div class="barrainf">

    <div class="sublista1">
       <h6 class="mint"> CONTACTO </h6>
       <p class="list"> <img class="grey" src="/img/iconoron.png"> Carrera 13 # 37 - 37 Piso 5</p>
       <p class="list"> <img class="grey" src="/img/iconoron.png"> info@susolucion.com.co</p>
       <p class="list" style="margin-left: 2.2vw"> director.comercial@susolucion.com.co</p>
       <p class="list" style="margin-left: 2.2vw"> giovanna.romero@susolucion.com.co</p>
       <p class="list" style="margin-left: 2.2vw"> miopinion@susolucion.com.co</p>
       <p class="list"> <img class="grey" src="/img/iconoron.png"> Atendemos de Lunes a Viernes 7:30 am - 5:00 pm </p>
    </div>

    <div class="line1"></div>

    <div class="sublista2">
        <h6 class="mint"> DEPARTAMENTOS </h6>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Administración Corporativa</p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Contabilidad</p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Facturación y gestión de cartera </p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Nomina </p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Talento Humano </p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Tesorería </p>
    </div>

    <div class="line2"></div>

    <div class="sublista3">
        <h6 class="mint"> LINKS DE INTERES </h6>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Compensar</p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Progressa</p>
        <p class="list"> <img class="grey" src="/img/iconoron.png"> Coodontologos </p>
    </div>

</div>

<div class="endred"> </div>

<!--Logo Soluciones-->
<div class="backlogo">
    <img class="logob" src="/img/logoblanco.png">
</div>




<!-- LOGIN DE USUARIO -->

<h1 style=" position: absolute">Flapper News</h1>

<div ng-show="error" class="">
    <span>{{ error.message }}</span>
</div>

<form ng-submit="usuario.logIn()"
      style="margin-top:30px;">
    <h3 >Iniciar Sesion</h3>

  <div class="user">
    <md-input-container >
        <label >Usuario</label>
        <input type="text" ng-model="usuario.user.username" required md-maxlength="30">
    </md-input-container>
  </div>

  <div class="pwd">
    <md-input-container >
        <label>Contraseña</label>
        <input type="text" ng-model="usuario.user.password" required md-maxlength="30">
    </md-input-container>
  </div>

    <md-button type="submit" class="md-raised"> Iniciar Sesion </md-button>
</form>

